RewriteEngine on
RewriteBase /
RewriteRule ^article/([0-9]+)(/*)$ YouthFundWebSite/index.php?con=article&act=item&id=$1
RewriteRule ^article/all(/*)$ YouthFundWebSite/index.php?con=article&act=all
RewriteRule ^article/team(/*)$ YouthFundWebSite/index.php?con=article&act=team
RewriteRule ^scholarship/([0-9]+)(/*)$ YouthFundWebSite/index.php?con=scholarship&act=item&id=$1
RewriteRule ^scholarship/all(/*)$ YouthFundWebSite/index.php?con=scholarship&act=all
RewriteRule ^project(/*)$ YouthFundWebSite/index.php?con=project
RewriteRule ^project/saveProject(/*)$ YouthFundWebSite/index.php?con=project&act=saveProject
RewriteRule ^project/regrule(/*)$ YouthFundWebSite/index.php?con=project&act=regrule
RewriteRule ^project/([0-9]+)(/*)$ YouthFundWebSite/index.php?con=project&act=item&id=$1